/* https://stackoverflow.com/questions/609273/convert-an-image-to-grayscale-in-html-css */

a {
  text-decoration: none;
}

body {
  background-color: #e4e4e4;
  max-width: min(80vw, 60ch);
  margin:40px auto;
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
  letter-spacing: -.05em;
}

img {
  border: 3px dotted;
  aspect-ratio: 1/1;
  object-fit: cover;
}

h1 {
  font-family: serif;
}

h2 {
  font-family: serif;
  font-size: 2rem;
  padding-bottom: .5rem;
}

h2 span {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-transform: uppercase;
}

section {
  padding-top: 2em;
}

/* MAX BO */
header h1 {
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 1.25;
}

marquee {
  border-style: solid;
  border-width: 1px;
}


/* links */
nav ul {
  padding: 0px;
}

nav ul > li {
  margin-bottom: 0.5rem;
  margin-right: 0.25rem;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
}

nav ul > li > a {
  font-size: 1.25rem;
  text-decoration: none;
  padding: 0.5rem;
  font-weight: 700;
  display: block;
}




div.cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}



dt {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 500;
}

dd.title {
  margin-left: 0;
  margin-bottom: 0;
}

dd.title > a {
  text-decoration: none;
}

dd.time {
  margin-left: 0;
  padding-bottom: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}