
@font-face {
  font-family: 'DINdong';
  src: 
      url('fonts/DINdong/DINdong.woff2') format('woff2'),
      url('fonts/DINdong/DINdong.woff') format('woff'),
      url('fonts/DINdong/DINdong.ttf') format('truetype'),
      url('fonts/DINdong/DINdong.otf') format('opentype');
}

@font-face {
  font-family: 'Ductus Geometric';
  src: 
      url('fonts/ductus/webfonts/DuctusCalligraphic.woff2') format('woff2'),
      url('fonts/ductus/webfonts/DuctusGeometric.woff') format('woff'),
      url('fonts/ductus/ttf//DuctusGeometric.ttf') format('truetype'),
      url('fonts/ductus/otf/DuctusGeometric.otf') format('opentype');
}

@font-face {
  font-family: 'Homoneta';
  src: 
      url('fonts/homoneta/woff/Homoneta-Regular.woff2') format('woff2'),
      url('fonts/homoneta/woff/Homoneta-Regular.woff') format('woff'),
      url('fonts/homoneta/otf/Homoneta-Regular.otf') format('opentype');
}

a {
  color: color(display-p3 0 0 1);
}

a:active {
  color: color(display-p3 1 1 0);
}

a:visited {
  color: color(display-p3 1 0 1);
}

a:hover {
  color: color(display-p3 1 0 0);
}

nav {
  font-family: 'Ductus Geometric', sans-serif;

  margin: 1rem;

  perspective: 300px;

  ul {
    list-style-type: none;
    max-width: 20ch;

    /* rotate */
    transform: rotateY(3deg);

    li {
      border: 1px black solid;
      margin: 0.5rem;
      padding: 0.5rem;

      /* :hover {
        background-color: linear-gradient(to right, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise);
      } */
    }

  }
}

main {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;

  section {
    padding: 1rem;
  }

  h1, h2, h3 {
    ::before {
      content: '*';
    }

    font-family: 'DINdong', sans-serif;
    color: black;
  }

  font-family: 'Ductus Geometric', sans-serif;
}

img.icon {
  display: none;
}

header {
  font-family: 'DINdong', sans-serif;
  text-transform: uppercase;

  perspective: 100px;

  .wordmark {
    border: 1px solid black;
    font-size: 5rem;
    transform: rotateZ(3deg) rotateX(2deg)
  }
}

footer {
  overflow-y: scroll;
  width: 100%;
  white-space: nowrap;

  table {
    font-family: monospace;
  }
}


@keyframes grow {
  from {
    transform: scale(1) rotateZ(-10deg);;
  }
  to {
    transform: scale(5) rotateZ(-10deg);;
  }
}

.listing {
  perspective: 30px;

  img {
    max-width: 20ch;
    transform: rotateZ(-10deg);
    aspect-ratio: 4/3;
    object-fit: cover;
  }

  img:hover {
    animation: grow 10s linear;
  }
  
  .title {
    font-size: 1.1rem;
    font-weight: bold;
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

@media (min-width: 768px) {
  div.cards {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
  }


  body {
    display: grid;
    gap: 1rem;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
  }

  header {
    grid-area: header;
  }

  nav {
    grid-area: nav;
    overflow-y: scroll;
  }

  main {
    grid-area: main;
    overflow-y: scroll;
  }

  footer {
    grid-area: footer;
    position: sticky;
    bottom: 0;
  }
}
