@font-face {
  font-family: 'DINdong';
  src:
    url('fonts/DINdong/DINdong.woff2') format('woff2'),
    url('fonts/DINdong/DINdong.woff') format('woff'),
    url('fonts/DINdong/DINdong.ttf') format('truetype'),
    url('fonts/DINdong/DINdong.otf') format('opentype');
}

@font-face {
  font-family: 'Ductus Geometric';
  src:
    url('fonts/ductus/webfonts/DuctusCalligraphic.woff2') format('woff2'),
    url('fonts/ductus/webfonts/DuctusGeometric.woff') format('woff'),
    url('fonts/ductus/ttf//DuctusGeometric.ttf') format('truetype'),
    url('fonts/ductus/otf/DuctusGeometric.otf') format('opentype');
}

@font-face {
  font-family: 'Homoneta';
  src:
    url('fonts/homoneta/woff/Homoneta-Regular.woff2') format('woff2'),
    url('fonts/homoneta/woff/Homoneta-Regular.woff') format('woff'),
    url('fonts/homoneta/otf/Homoneta-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Crozet';
  src:
    url('fonts/crozet/webfonts/Crozet-Regular.woff2') format('woff2'),
    url('fonts/crozet/webfonts/Crozet-Regular.woff') format('woff'),
    url('fonts/crozet/otf/Crozet-Regular.otf') format('opentype'),
    url('fonts/crozet/ttf/Crozet-Regular.ttf') format('truetype');
}

#watermark {
  display: none;
}

#clouds {
  background-image: url('img/clouds.webp');
}

#cycle {
  animation: cycle 30s linear infinite;
}

@keyframes cycle {
  0% {
    background-color: yellow;
  }

  20% {
    background-color: lightsalmon;
  }

  40% {
    background-color: mediumslateblue;
  }

  60% {
    background-color: mistyrose;
  }

  80% {
    background-color: mediumturquoise;
  }

  100% {
    background-color: yellow;
  }
}

#dindong {
  font-family: 'DINdong';
  background-color: cornflowerblue;
  color: cornsilk;
  font-size: 50px;
}

#weather {
  padding: 0.3rem;
}

img.icon {
  display: none;
}

img.favicon {
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

dl {
  padding-left: 0.6rem;
}

dt {
  padding-top: 0.3rem;
  font-size: 1.3rem;
}

dd.time {
  font-size: 0.9rem;
  color: #777;
}

a {
  color: color(display-p3 0 0 1);
  text-decoration: none;
}

a:active {
  color: color(display-p3 1 1 0);
}

a:visited {
  color: color(display-p3 1 0 1);
}

a:hover {
  background-color: color(display-p3 0 0 1);
  color: white;
}

a:hover:visited {
  background-color: color(display-p3 1 0 1);
  color: white;
}

a:hover:active:visited {
  background-color: color(display-p3 1 1 0);
  color: white;
}

body {
  overflow-x: hidden;
  font-family: 'DINdong', sans-serif;
}

nav {
  ul {
    columns: 2;
    column-gap: 0px;
    max-width: 100%;
    list-style-type: none;
    padding-inline-start: 0px;

    li {
      border-bottom: 1px black solid;
      border-right: 1px black solid;
      padding: 0.5rem;

      /* :hover {
        background-color: linear-gradient(to right, yellow, lightsalmon, mediumslateblue, mistyrose, mediumturquoise);
      } */
    }

  }
}

h1, h2, h3 {
  font-family: 'Ductus Geometric', sans-serif;
}

h2 {
  font-size: 2rem
}

main {
  font-family: 'DINdong', sans-serif;
  border-left: 1px solid black;
}

header {
  border-bottom: 1px solid black;
  font-family: 'Ductus Geometric', sans-serif;
  text-transform: uppercase;

  .wordmark {
    font-family: 'DINdong';
    font-size: 3rem;
  }
}

footer {
  overflow-y: scroll;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  white-space: nowrap;
  gap: 1rem;
  border: 1px solid black;

  * {
    display: inline-flex;
  }
}

script {
  display: none;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(5);
  }
}

div.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
}

article.art {
  border: 0.5px solid black;
}

article.listing {
  border: 0.5px solid black;
  /* backdrop-filter: blur(1px); */

  img {
    aspect-ratio: 4/3;
    object-fit: cover;
  }

  img:hover {
    border: 1px solid black;
    animation: grow 60s linear infinite;
  }

  p.title {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  p.description {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (min-width: 640px) {
  #watermark {
    display: initial;
    font-family: 'Crozet';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20vw;
    color: rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    pointer-events: none; /* Make sure it doesn't interfere with other elements */
    z-index: -1; /* Push it to the back */
  }


  body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
  }

  header {
    grid-area: header;
  }

  nav {
    grid-area: nav;
    overflow-y: scroll;

    ul {
      columns: 1;

      li {
        border-right: none;
      }
    }
  }

  main {
    grid-area: main;
    overflow-y: scroll;
  }

  footer {
    grid-area: footer;
    position: sticky;
    bottom: 0;
  }
}


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}