/* A Better Fucking Website */

body {
    font-family: Cambria,Georgia,serif;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444444;
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2;
}


/* Extension */

a {
    text-decoration: none;
    font-weight: bold; /*700*/
    color: maroon;
}
